.navbar {
  background-color: #563d7c !important;
}
.image-item {
  width: 100%;
  height: 100%;
  border: 2px solid #f5f7fa;
}
ul,
li {
  list-style-type: none;
}
.grid-list-container {
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
  border: 2px solid #e2e2ff;
  /* box-shadow: 10px -4px 18px 2px rgba(226,226,255,0.48); */
  min-height: 600px;
}

.grid-list-container {
  width: 100%;
  float: left;
  background-color: #343a40;
}
.actul-img-left {
  padding: 0;
}
.actul-img-left li,
.resize-image li {
  width: auto;
  padding: 5px !important;
  float: left;
}
.resize-image li {
  min-height: 210px;
  max-height: 210px;
}
.resize-image {
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.img-zom {
  zoom: 30%;
}
