.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #563d7c !important;
}
.image-item {
  width: 100%;
  height: 100%;
  border: 2px solid #f5f7fa;
}
ul,
li {
  list-style-type: none;
}
.grid-list-container {
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
  border: 2px solid #f8f9fa;
}

.grid-list-container {
  width: 100%;
  float: left;
  background-color: #343a40;
}
.actul-img-left {
  padding: 0;
}
.actul-img-left li,
.resize-image li {
  width: auto;
  padding: 5px !important;
  float: left;
}
.resize-image li {
  min-height: 180px;
  max-height: 180px;
}
.resize-image {
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.img-zom {
  zoom: 30%;
}
